#save-button {
    display: inline-block;
}

#cancel-button {
    display: inline-block;
}

#title-editor {
    padding: 3.5em 0.5em 1em 0.04em;
    display: block;
}

#title-input {
    width: 100%;
}

#editor {
    display: block;
}