{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/edit.css') }}">
{% endblock %}

{% block navbar %}
    <h3 id="home-directory"> Home </h3>
    {% set links = [] %}
    {% for sub in subs %}
        {% set append = links.append(sub) %}
        <div id="chevron-arrow-right"></div> <a id="home-directory" href= {{request.url_root + "view/" + links|join("+")}}> {{sub}} </a>
    {% endfor %}
{% endblock %}

{% block content %}
{% from "utils.html" import render_field %}
<form id="editor-form" class="pure-form">
<div id="title-editor">
    {{ render_field(form.title, placeholder="Title", id="title-input") }}
</div>

<fieldset class="pure-group">
    {{ render_field(form.content, id="editor") }}
    {% if view %}
        <script type=text/javascript>
           document.getElementById('title-input').value = `{{view.title | safe | replace("\n", "\\n") | replace("`", "\`")}}`
           document.getElementById('editor').value = `{{view.markdown_content | safe | replace("\n", "\\n") | replace("`", "\`")}}`
        </script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
</fieldset>
</form>
<button id="save-button" type="submit" class="pure-button"> Save </button>
<button id="cancel-button" class="pure-button"> Cancel </button>

<script type=text/javascript>
    $(function() {
        $('button#save-button').bind('click', function() {
            $.post({
                url: $BASE_URL + '/save',
                type: 'POST',
                data: {
                    content: window.simplemde.value(),
                    title: document.getElementById('title-input').value
                },
                dataType: 'json',
                success:function(res){
                    window.location = $URL_ROOT + 'view/{{subs|join("+")|safe}}'
                    console.log(res)
                },
                error:function (res) {
                    console.log(res);
                }
            })
        });
    });
</script>

{% endblock %}