{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script type=text/javascript src="{{url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/layouts/edit.css') }}">
{% endblock %}

{% block navbar %}
    <h3 id="home-directory"> Home </h3>
    {% set links = [] %}
    {% for sub in subs %}
        {% set append = links.append(sub) %}
        <div id="chevron-arrow-right"></div> <a id="home-directory" href= {{request.url_root + "view/" + links|join("+")}}> {{sub}} </a>
    {% endfor %}
{% endblock %}

{% block content %}

<div id="title-editor">
    <input id="title-input" type="text" placeholder="Title" name="Title" required><br>
</div>

<fieldset class="pure-group">
    <textarea id="editor"> </textarea>
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>

    <button id="save-button" type="submit" class="pure-button"> Save </button>
    <button id="cancel-button" class="pure-button"> Cancel </button>
</fieldset>

{% if view %}
    <script type=text/javascript>
       window.simplemde.value(`{{view.markdown_content|replace("`", "\`")}}`);
       document.getElementById('title-input').value = '{{view.title}}'
    </script>
{% endif %}

<script type=text/javascript>
    $(function() {
        $('button#save-button').bind('click', function() {
            $.post({
                url: $BASE_URL + '/save',
                type: 'POST',
                data: {
                    content: window.simplemde.value(),
                    title: $('input[name="Title"]').val()
                },
                dataType: 'json',
                success:function(res){
                    window.location = $URL_ROOT + 'view/{{subs|join("+")|safe}}'
                    console.log(res)
                },
                error:function (res) {
                    console.log(res);
                }
            })
        });
    });
</script>

{% endblock %}
