{% extends "base.html" %}

{% block navbar %}
    <h3 id="home-directory"> Home </h3>
    {% set links = [] %}
    {% for sub in subs %}
        {% set append = links.append(sub) %}
        <div id="chevron-arrow-right"></div> <a id="home-directory" href= {{request.url_root + "view/" + links|join("+")}}> {{sub}} </a>
    {% endfor %}
{% endblock %}

{% block content %}
<div class="header">
    <h2 id="custom-title">{{view.title}}</h2>
    <p class="content-meta"> Last edited by {{view.last_edited_by}} on {{view.last_edited|datetime}} </p>
</div>

<div class="content">
    {{view.body|safe}}
</div>
{% endblock %}